@media only screen and (min-width: 1024px) {
    .container {
        flex-direction: row;
        padding: 5rem;
        background-image: url('../images/bg-intro-desktop.png');
    }

    #desc {
        width: 48%;
        padding: 0.5rem 1rem;
        margin-top: 0;
        margin-bottom: 0;
    }

    #desc p {
        text-align: left;
        margin-top: 0.5rem;
        padding: 0.5rem;
        word-spacing: 0.25rem;
    }

    #form-section {
        width: 50%;
    }

    #trial br {
        display: none;
    }

    #desc h1 {
        text-align: left;
        word-spacing: 0.25rem;
        font-size: 2.5rem;
    }

    #form p {
        width: 60%;
    }

    .errorIcon {
        margin-right: -25rem;
    }
}