*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Red-c: hsl(0, 100%, 74%);
}

body {
    font-family: "Poppins", sans;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--Red-c);
  background-image: url('../images/bg-intro-mobile.png');
  height: 100vh;
  width: 100%;
}

#desc {
    padding: 0.35rem 0.5rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

#desc h1 {
  color: white;
  text-align: center;
}

#desc p {
  color: white;
  text-align: center;
}