*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
  --Red-c: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --Blue: hsl(248, 32%, 49%);
  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);
}

body {
    font-family: "Poppins", sans;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Red-c);
  background-image: url('../images/bg-intro-mobile.png');
  height: auto;
  width: 100%;
  padding-bottom: 3.5rem;
}

#desc {
  padding: 0.15rem 0.5rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

#desc h1 {
  color: white;
  text-align: center;
}

#desc p {
  color: white;
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
  word-spacing: 0.25rem;
}

#form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#try {
  font-weight: bold;
}

#trial {
  width: 90%;
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  text-align: center;
  color: white;
  background-color: var(--Blue);
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 0.5rem;
}

form {
  width: 90%;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 0.5rem;
}

.inputs {
  padding: 1rem;
  width: 90%;
}

.inputs::placeholder {
  color: var(--Dark-Blue);
  font-weight: bold;
}

#submitBtn {
  padding: 1rem;
  background-color: var(--Green);
  border: none;
  border-radius: 0.5rem;
  color: white;
  width: 90%;
  padding: 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

form p {
  text-align: center;
  color: var(--Grayish-Blue);
  font-size: 0.85rem;
  width: 90%;
}

#terms {
  color: var(--Red-c);
  font-weight: bold;
}